<ion-content class="fondo2">
    <app-header [titulo]="'Gastos'"></app-header>
    <!-- List of Text Items -->

    <ion-toolbar>
        <ion-searchbar class="searchbar ion-text-left" placeholder="Comida" animated debounce="700" [value]="textoBuscar" (ionChange)="buscar($event)"></ion-searchbar>
    </ion-toolbar>

    <ion-list *ngIf="existenGastos">
        <div *ngFor="let gasto of misGastos.Gastos">
            <app-card-gasto [gasto]="gasto"></app-card-gasto>
        </div>
    </ion-list>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button color="turquesa" (click)="crearGasto()">
            <ion-icon name="add" color="light"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>