ion-toolbar {
    --background: transparent;
    background-color: transparent;
}

ion-searchbar {
    margin-left: 2rem;
    border-radius: 5rem !important;
    width: 70%;
}

.nombre {
    font-weight: bold;
    font-size: 1.7rem;
}

.monto,
.fecha {
    font-size: 1.5rem;
}

div {
    display: flex;
    justify-items: center;
    justify-content: center;
}

ion-card {
    width: 60%;
}

ion-list {
    background-color: transparent;
}