ion-item-sliding {
    z-index: 0;
}

.contenedor-card {
    display: flex;
}

.contenedor-avatar {
    z-index: 2;
}

ion-card {
    width: 70%;
    background-color: white;
    border-radius: 6rem;
    height: 7rem;
    position: relative;
    top: 0.5rem;
    left: -5rem;
    z-index: 0;
}

.nombre {
    font-size: 2rem;
    font-weight: bold;
    color: black;
}

.fecha {
    line-height: 1rem;
    font-size: 1.3rem;
}

.nombre-fecha {
    margin-left: 3rem;
}

.monto {
    font-size: 1.9rem;
    font-weight: bold;
    padding: 1.3rem;
    padding-right: 1rem;
    padding-left: 0rem;
}

ion-chip {
    height: 2.5rem;
}

.iconos {
    width: 4.1rem;
    height: 4.1rem;
}

ion-item-options {
    height: 7rem;
}