<ion-content class="fondo1">

    <app-header [titulo]="'Deudas'"></app-header>

    <!-- FILTROS -->
    <div class="contenedor-filtros">

        <ion-item class="filtros">
            <ion-label color="light">Tipo</ion-label>
            <ion-select color="rosa" interface="popover" (ionChange)="filtroTipo($event)">
                <ion-select-option value="pagar">Pagar</ion-select-option>
                <ion-select-option value="cobrar">Cobrar</ion-select-option>
                <ion-select-option value="todos" selected>Todos</ion-select-option>
            </ion-select>
        </ion-item>

        <ion-item class="filtros">
            <ion-label color="light">Completadas</ion-label>
            <ion-select interface="popover" (ionChange)="filtroCompleta($event)">
                <ion-select-option value="no" selected>No</ion-select-option>
                <ion-select-option value="si">Si</ion-select-option>
            </ion-select>
        </ion-item>

    </div>
    <!-- FIN FILTROS -->

    <!--MOSTRAR DEUDAS INCOMPLETAS -->

    <!-- NO EXISTEN DEUDAS INCOMPLETAS-->
    <ion-item lines="none" class="ion-margin-top" color="transparente" *ngIf="!this.existeCobrar && !this.existePagar && !this.filtroCompletas">
        <ion-label class="no-existen ion-text-center ion-margin-top" color="light">
            No existen deudas
        </ion-label>
    </ion-item>
    <!--FIN NO EXISTEN DEUDAS INCOMPLETAS-->

    <div *ngIf="!this.filtroCompletas">

        <ion-list *ngIf="this.existeCobrar && this.filtroCobrar">

            <ion-list-header class="ion-list-header">
                <ion-label color="light">
                    Cobrar
                </ion-label>
            </ion-list-header>

            <div *ngFor="let deuda of this.deudasCobrar">
                <app-card-deuda [deudaObj]="deuda"></app-card-deuda>
            </div>

        </ion-list>


        <ion-list *ngIf="this.existePagar && this.filtroPagar">

            <ion-list-header class="ion-list-header">
                <ion-label color="light">
                    Pagar
                </ion-label>
            </ion-list-header>

            <div *ngFor="let deuda of this.deudasPagar">
                <app-card-deuda [deudaObj]="deuda"></app-card-deuda>
            </div>

        </ion-list>

    </div>

    <!--FIN MOSTRAR DEUDAS INCOMPLETAS -->

    <!--MOSTRAR DEUDAS COMPLETAS -->

    <!-- NO EXISTEN DEUDAS COMPLETAS-->
    <ion-item lines="none" class="ion-margin-top" color="transparente" *ngIf="!this.existeCobrarCompletas && !this.existePagarCompletas && this.filtroCompletas">
        <ion-label class="no-existen ion-text-center ion-margin-top" color="light">
            No existen deudas
        </ion-label>
    </ion-item>
    <!--FIN NO EXISTEN DEUDAS COMPLETAS-->


    <div *ngIf="this.filtroCompletas">

        <ion-list *ngIf="this.existeCobrarCompletas && this.filtroCobrar">

            <ion-list-header class="ion-list-header">
                <ion-label color="light">
                    Cobrar
                </ion-label>
            </ion-list-header>

            <div *ngFor="let deuda of this.cobrarCompletadas">
                <app-card-deuda [deudaObj]="deuda"></app-card-deuda>
            </div>

        </ion-list>


        <ion-list *ngIf="this.existePagarCompletas && this.filtroPagar">

            <ion-list-header class="ion-list-header">
                <ion-label color="light">
                    Pagar
                </ion-label>
            </ion-list-header>

            <div *ngFor="let deuda of this.pagarCompletadas">
                <app-card-deuda [deudaObj]="deuda"></app-card-deuda>
            </div>

        </ion-list>

    </div>

    <!--FIN MOSTRAR DEUDAS COMPLETAS -->


    <!-- BOTON FAB -->
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button color="fucsia" (click)="navCrearDeuda()">
            <ion-icon name="add" color="light"></ion-icon>
        </ion-fab-button>
    </ion-fab>
    <!-- FIN BOTON FAB -->

</ion-content>