.contenedor-filtros {
    display: inline-block;
}

.filtros {
    float: right;
    width: 230px;
    --background: transparent;
    --border-color: white;
    margin-right: 1.2rem;
}

.no-existen {
    font-size: 2.5rem;
    font-weight: 600;
}