<ion-content class="fondo1">

    <app-header [titulo]="'Deudas'"></app-header>

    <!-- FILTROS -->
    <div class="contenedor-filtros">

        <ion-item class="filtros">
            <ion-label color="light">Tipo</ion-label>
            <ion-select placeholder="Cobrar">
                <ion-select-option value="cobrar">Cobrar</ion-select-option>
                <ion-select-option value="pagar">Pagar</ion-select-option>
            </ion-select>
        </ion-item>

        <ion-item class="filtros">
            <ion-label color="light">Completadas</ion-label>
            <ion-select placeholder="No">
                <ion-select-option value="cobrar">No</ion-select-option>
                <ion-select-option value="pagar">Si</ion-select-option>
            </ion-select>
        </ion-item>

    </div>
    <!-- FIN FILTROS -->


    <!-- NO EXISTEN DEUDAS -->
    <!-- <ion-item *ngIf="!existenCobra && !existenPagar" color="aqua">
        <ion-label class="no-existen ion-text-center ion-margin-top" color="orange">
            No existen deudas
        </ion-label>
    </ion-item> -->
    <!--FIN NO EXISTEN DEUDAS -->

    <ion-list *ngIf="this.existeCobrar">

        <ion-list-header class="ion-list-header">
            <ion-label color="light">
                Cobrar
            </ion-label>
        </ion-list-header>

        <div *ngFor="let deuda of this.deudasCobrar">
            <app-card-deuda [deuda]="deuda"></app-card-deuda>
        </div>

    </ion-list>

    <ion-list *ngIf="this.existePagar">

        <ion-list-header class="ion-list-header">
            <ion-label color="light">
                Pagar
            </ion-label>
        </ion-list-header>

        <div *ngFor="let deuda of this.deudasPagar">
            <app-card-deuda [deuda]="deuda"></app-card-deuda>
        </div>

    </ion-list>






    <!-- <div>
        <app-lista-deuda [titulo]="'Cobrar'" [Deudas]="this.misDeudas"></app-lista-deuda>
    </div> -->

    <!-- <div *ngIf="this.existenCobra">
                <app-lista-deuda [titulo]="'Cobrar'" [Deudas]="this.listaCobrar" [mostrarBotones]="true"></app-lista-deuda>
            </div> -->

    <!-- BOTON FAB -->
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button color="rosaSangre" (click)="navCrearDeuda()">
            <ion-icon name="add" color="light"></ion-icon>
        </ion-fab-button>
    </ion-fab>
    <!-- FIN BOTON FAB -->

</ion-content>

<!-- <ion-segment color="orange" (ionChange)="mostrar($event)">
        <ion-segment-button value="incompletas" checked>
            <ion-label>Incompletas</ion-label>
        </ion-segment-button>
        <ion-segment-button value="completadas">
            <ion-label>Completadas</ion-label>
        </ion-segment-button>
    </ion-segment>



    <ion-item *ngIf="!existenCobra && !existenPagar" color="aqua">
        <ion-label class="no-existen ion-text-center ion-margin-top" color="orange">
            No existen deudas
        </ion-label>
    </ion-item>



    <div *ngIf="!mostrarCompletadas">
        <div *ngIf="this.existenPagar">
            <app-lista-deuda [titulo]="'Pagar'" [Deudas]="this.listaPagar" [mostrarBotones]="true"></app-lista-deuda>
        </div>

        <div *ngIf="this.existenCobra">
            <app-lista-deuda [titulo]="'Cobrar'" [Deudas]="this.listaCobrar" [mostrarBotones]="true"></app-lista-deuda>
        </div>
    </div>



    <div *ngIf="mostrarCompletadas">
        <div *ngIf="this.existenPagar">
            <app-lista-deuda [titulo]="'Pagar'" [Deudas]="this.completadasPagar" [mostrarBotones]="false"></app-lista-deuda>
        </div>

        <div *ngIf="this.existenCobra">
            <app-lista-deuda [titulo]="'Cobrar'" [Deudas]="this.completadasCobrar" [mostrarBotones]="false"></app-lista-deuda>
        </div>
    </div> -->