<ion-menu side="start" menuId="menuPrincipal" contentId="principal">
    <app-header [titulo]="'Menu'"></app-header>
    <ion-content color="aqua">

        <ion-list color="aqua" class="ion-list">
            <ion-menu-toggle>

                <ion-item color="aqua" detail routerLink="/">
                    <img class="iconos" src="/assets/icons/house.svg">

                    <ion-label>
                        <ion-text color="pearl"> Home</ion-text>
                    </ion-label>

                </ion-item>

                <ion-item color="aqua" detail routerLink="/gastos">
                    <img class="iconos" src="/assets/icons/money.svg">

                    <ion-label>
                        <ion-text color="pearl"> Gastos</ion-text>
                    </ion-label>

                </ion-item>

                <ion-item color="aqua" detail routerLink="/deudas">
                    <img class="iconos" src="/assets/icons/contract.svg">

                    <ion-label>
                        <ion-text color="pearl"> Deudas</ion-text>
                    </ion-label>

                </ion-item>

                <ion-item color="aqua" detail>
                    <img class="iconos" src="/assets/icons/credit-card.svg">

                    <ion-label>
                        <ion-text color="pearl"> Tarjetas</ion-text>
                    </ion-label>

                </ion-item>

            </ion-menu-toggle>
        </ion-list>

    </ion-content>
</ion-menu>