<ion-menu side="start" menuId="menuPrincipal" contentId="principal">

    <ion-toolbar color="turquesa">
        <ion-title class="titulo-menu ion-text-center" color="rosa">
            Menu
        </ion-title>
    </ion-toolbar>

    <ion-content color="turquesa">

        <ion-list color="light" class="ion-list">
            <ion-menu-toggle>

                <ion-item color="aqua" detail routerLink="/">
                    <img class="iconos" src="/assets/icons/house.svg">

                    <ion-label>
                        <ion-text color="light"> Home</ion-text>
                    </ion-label>

                </ion-item>

                <ion-item color="aqua" detail routerLink="/gastos">
                    <img class="iconos" src="/assets/icons/money.svg">

                    <ion-label>
                        <ion-text color="light"> Gastos</ion-text>
                    </ion-label>

                </ion-item>

                <ion-item color="aqua" detail routerLink="/deudas">
                    <img class="iconos" src="/assets/icons/contract.svg">

                    <ion-label>
                        <ion-text color="light"> Deudas</ion-text>
                    </ion-label>

                </ion-item>

                <ion-item color="aqua" detail>
                    <img class="iconos" src="/assets/icons/credit-card.svg">

                    <ion-label>
                        <ion-text color="light"> Tarjetas</ion-text>
                    </ion-label>

                </ion-item>

            </ion-menu-toggle>
        </ion-list>

    </ion-content>
</ion-menu>