<ion-tabs>
    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="home">
            <ion-icon name="home"></ion-icon>
            <ion-label>Home</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="deudas">
            <ion-icon name="contacts"></ion-icon>
            <ion-label>Deudas</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="gastos">
            <ion-icon name="cash"></ion-icon>
            <ion-label>Gastos</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="Tarjetas">
            <ion-icon name="card"></ion-icon>
            <ion-label>Tarjetas</ion-label>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>