<ion-content color="aqua">
    <form [formGroup]="formularioDeuda" (ngSubmit)="crearDeuda()" class="ion-padding">

        <ion-card color="orange">

            <ion-card-header>
                <ion-card-title>
                    <ion-text color="aqua">
                        <div class="ion-text-center header-deuda">
                            Nueva Deuda
                        </div>
                    </ion-text>
                    <!-- <img class="imagen-header" src="/assets/icons/debt.svg"> -->

                </ion-card-title>
            </ion-card-header>

            <ion-card-content>

                <!-- Input Nombre -->
                <ion-item class="ion-margin-top" color="orange">
                    <ion-label color="aqua" position="floating">Nombre</ion-label>
                    <ion-input color="aqua" debounce="700" type="text" minlength="2" maxlength="20" formControlName="nombre" required></ion-input>
                </ion-item>

                <!-- Input Monto -->

                <ion-item class="ion-margin-top" color="orange">
                    <ion-label color="aqua" position="floating">Monto($)</ion-label>
                    <ion-input color="aqua" debounce="700" type="number" minlength="2" maxlength="20" formControlName="monto" required></ion-input>
                </ion-item>


                <!-- Inputs Sexo -->

                <ion-list class="ion-list">
                    <ion-radio-group formControlName="sexo">
                        <ion-list-header>
                            <ion-label class="titulo-header" color="aqua">Sexo</ion-label>
                        </ion-list-header>

                        <ion-item color="orange">
                            <ion-label color="aqua">Hombre</ion-label>
                            <ion-radio color="aqua" slot="start" value="hombre"></ion-radio>
                        </ion-item>

                        <ion-item color="orange">
                            <ion-label color="aqua">Mujer</ion-label>
                            <ion-radio color="aqua" slot="start" value="mujer"></ion-radio>
                        </ion-item>

                    </ion-radio-group>
                </ion-list>

                <!-- Input Tipo de Deuda -->

                <ion-segment color="aqua" class="ion-margin-top" formControlName="tipo">
                    <ion-segment-button value="pagar">
                        <ion-label color="aqua">Pagar</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="cobrar">
                        <ion-label color="aqua">Cobrar</ion-label>
                    </ion-segment-button>
                </ion-segment>

                <!-- Boton para crear Deuda -->
                <div class="contenedor-boton ion-margin-top">
                    <ion-button type="submit" size="large" color="aqua" [disabled]="formularioDeuda.invalid" (click)="goBack()">
                        <ion-text color="orange">
                            Crear Deuda
                        </ion-text>
                        <img class="icono" src="/assets/icons/checked.svg">
                    </ion-button>
                </div>

            </ion-card-content>

        </ion-card>

    </form>
</ion-content>