// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/

:root {
    --ion-font-family: 'Roboto Condensed', sans-serif;
    // 
    --ion-color-rojo: #E45641;
    --ion-color-rojo-rgb: 228, 86, 65;
    --ion-color-rojo-contrast: #ffffff;
    --ion-color-rojo-contrast-rgb: 255, 255, 255;
    --ion-color-rojo-shade: #c94c39;
    --ion-color-rojo-tint: #e76754;
    // 
    --ion-color-verde: #2EBF91;
    --ion-color-verde-rgb: 46, 191, 145;
    --ion-color-verde-contrast: #000000;
    --ion-color-verde-contrast-rgb: 0, 0, 0;
    --ion-color-verde-shade: #28a880;
    --ion-color-verde-tint: #43c59c;
    // 
    --ion-color-turquesa: #44B3C2;
    --ion-color-turquesa-rgb: 68, 179, 194;
    --ion-color-turquesa-contrast: #000000;
    --ion-color-turquesa-contrast-rgb: 0, 0, 0;
    --ion-color-turquesa-shade: #3c9eab;
    --ion-color-turquesa-tint: #57bbc8;
    // 
    --ion-color-rosa: #DD5E89;
    --ion-color-rosa-rgb: 221, 94, 137;
    --ion-color-rosa-contrast: #000000;
    --ion-color-rosa-contrast-rgb: 0, 0, 0;
    --ion-color-rosa-shade: #c25379;
    --ion-color-rosa-tint: #e06e95;
    // 
    --ion-color-fucsia: #FC427B;
    --ion-color-fucsia-rgb: 252, 66, 123;
    --ion-color-fucsia-contrast: #000000;
    --ion-color-fucsia-contrast-rgb: 0, 0, 0;
    --ion-color-fucsia-shade: #de3a6c;
    --ion-color-fucsia-tint: #fc5588;
    // 
    --ion-color-warning: #ffce00;
    --ion-color-warning-rgb: 255, 206, 0;
    --ion-color-warning-contrast: #ffffff;
    --ion-color-warning-contrast-rgb: 255, 255, 255;
    --ion-color-warning-shade: #e0b500;
    --ion-color-warning-tint: #ffd31a;
    // 
    --ion-color-danger: #f04141;
    --ion-color-danger-rgb: 245, 61, 61;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255, 255, 255;
    --ion-color-danger-shade: #d33939;
    --ion-color-danger-tint: #f25454;
    // 
    --ion-color-dark: #222428;
    --ion-color-dark-rgb: 34, 34, 34;
    --ion-color-dark-contrast: #ffffff;
    --ion-color-dark-contrast-rgb: 255, 255, 255;
    --ion-color-dark-shade: #1e2023;
    --ion-color-dark-tint: #383a3e;
    // 
    --ion-color-medium: #989aa2;
    --ion-color-medium-rgb: 152, 154, 162;
    --ion-color-medium-contrast: #ffffff;
    --ion-color-medium-contrast-rgb: 255, 255, 255;
    --ion-color-medium-shade: #86888f;
    --ion-color-medium-tint: #a2a4ab;
    // 
    --ion-color-light: #f4f5f8;
    --ion-color-light-rgb: 244, 244, 244;
    --ion-color-light-contrast: #000000;
    --ion-color-light-contrast-rgb: 0, 0, 0;
    --ion-color-light-shade: #d7d8da;
    --ion-color-light-tint: #f5f6f9;
}

.ion-color-rojo {
    --ion-color-base: var(--ion-color-rojo) !important;
    --ion-color-base-rgb: var(--ion-color-rojo-rgb) !important;
    --ion-color-contrast: var(--ion-color-rojo-contrast) !important;
    --ion-color-contrast-rgb: var(--ion-color-rojo-contrast-rgb) !important;
    --ion-color-shade: var(--ion-color-rojo-shade) !important;
    --ion-color-tint: var(--ion-color-rojo-tint) !important;
}

.ion-color-rosa {
    --ion-color-base: var(--ion-color-rosa) !important;
    --ion-color-base-rgb: var(--ion-color-rosa-rgb) !important;
    --ion-color-contrast: var(--ion-color-rosa-contrast) !important;
    --ion-color-contrast-rgb: var(--ion-color-rosa-contrast-rgb) !important;
    --ion-color-shade: var(--ion-color-rosa-shade) !important;
    --ion-color-tint: var(--ion-color-rosa-tint) !important;
}

.ion-color-verde {
    --ion-color-base: var(--ion-color-verde) !important;
    --ion-color-base-rgb: var(--ion-color-verde-rgb) !important;
    --ion-color-contrast: var(--ion-color-verde-contrast) !important;
    --ion-color-contrast-rgb: var(--ion-color-verde-contrast-rgb) !important;
    --ion-color-shade: var(--ion-color-verde-shade) !important;
    --ion-color-tint: var(--ion-color-verde-tint) !important;
}

.ion-color-turquesa {
    --ion-color-base: var(--ion-color-turquesa) !important;
    --ion-color-base-rgb: var(--ion-color-turquesa-rgb) !important;
    --ion-color-contrast: var(--ion-color-turquesa-contrast) !important;
    --ion-color-contrast-rgb: var(--ion-color-turquesa-contrast-rgb) !important;
    --ion-color-shade: var(--ion-color-turquesa-shade) !important;
    --ion-color-tint: var(--ion-color-turquesa-tint) !important;
}

.ion-color-fucsia {
    --ion-color-base: var(--ion-color-fucsia) !important;
    --ion-color-base-rgb: var(--ion-color-fucsia-rgb) !important;
    --ion-color-contrast: var(--ion-color-fucsia-contrast) !important;
    --ion-color-contrast-rgb: var(--ion-color-fucsia-contrast-rgb) !important;
    --ion-color-shade: var(--ion-color-fucsia-shade) !important;
    --ion-color-tint: var(--ion-color-fucsia-tint) !important;
}