// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/

:root {
    --ion-color-orange: #FFB85F;
    --ion-color-orange-rgb: 255, 184, 95;
    --ion-color-orange-contrast: #000000;
    --ion-color-orange-contrast-rgb: 0, 0, 0;
    --ion-color-orange-shade: #e0a254;
    --ion-color-orange-tint: #ffbf6f;
    --ion-color-redOrange: #FF7A5A;
    --ion-color-redOrange-rgb: 255, 122, 90;
    --ion-color-redOrange-contrast: #000000;
    --ion-color-redOrange-contrast-rgb: 0, 0, 0;
    --ion-color-redOrange-shade: #e06b4f;
    --ion-color-redOrange-tint: #ff876b;
    --ion-color-aqua: #00AAA0;
    --ion-color-aqua-rgb: 0, 170, 160;
    --ion-color-aqua-contrast: #ffffff;
    --ion-color-aqua-contrast-rgb: 255, 255, 255;
    --ion-color-aqua-shade: #00968d;
    --ion-color-aqua-tint: #1ab3aa;
    --ion-color-blueGreen: #8ED2C9;
    --ion-color-blueGreen-rgb: 142, 210, 201;
    --ion-color-blueGreen-contrast: #000000;
    --ion-color-blueGreen-contrast-rgb: 0, 0, 0;
    --ion-color-blueGreen-shade: #7db9b1;
    --ion-color-blueGreen-tint: #99d7ce;
    --ion-color-pearl: #FCF4D9;
    --ion-color-pearl-rgb: 252, 244, 217;
    --ion-color-pearl-contrast: #000000;
    --ion-color-pearl-contrast-rgb: 0, 0, 0;
    --ion-color-pearl-shade: #ded7bf;
    --ion-color-pearl-tint: #fcf5dd;
    --ion-color-violetBlue: #462066;
    --ion-color-violetBlue-rgb: 70, 32, 102;
    --ion-color-violetBlue-contrast: #ffffff;
    --ion-color-violetBlue-contrast-rgb: 255, 255, 255;
    --ion-color-violetBlue-shade: #3e1c5a;
    --ion-color-violetBlue-tint: #593675;
    --ion-color-dark: #222428;
    --ion-color-dark-rgb: 34, 34, 34;
    --ion-color-dark-contrast: #ffffff;
    --ion-color-dark-contrast-rgb: 255, 255, 255;
    --ion-color-dark-shade: #1e2023;
    --ion-color-dark-tint: #383a3e;
    --ion-color-medium: #989aa2;
    --ion-color-medium-rgb: 152, 154, 162;
    --ion-color-medium-contrast: #ffffff;
    --ion-color-medium-contrast-rgb: 255, 255, 255;
    --ion-color-medium-shade: #86888f;
    --ion-color-medium-tint: #a2a4ab;
    --ion-color-light: #f4f5f8;
    --ion-color-light-rgb: 244, 244, 244;
    --ion-color-light-contrast: #000000;
    --ion-color-light-contrast-rgb: 0, 0, 0;
    --ion-color-light-shade: #d7d8da;
    --ion-color-light-tint: #f5f6f9;
}

.ion-color-aqua {
    --ion-color-base: var(--ion-color-aqua) !important;
    --ion-color-base-rgb: var(--ion-color-aqua-rgb) !important;
    --ion-color-contrast: var(--ion-color-aqua-contrast) !important;
    --ion-color-contrast-rgb: var(--ion-color-aqua-contrast-rgb) !important;
    --ion-color-shade: var(--ion-color-aqua-shade) !important;
    --ion-color-tint: var(--ion-color-aqua-tint) !important;
}

.ion-color-redOrange {
    --ion-color-base: var(--ion-color-redOrange) !important;
    --ion-color-base-rgb: var(--ion-color-redOrange-rgb) !important;
    --ion-color-contrast: var(--ion-color-redOrange-contrast) !important;
    --ion-color-contrast-rgb: var(--ion-color-redOrange-contrast-rgb) !important;
    --ion-color-shade: var(--ion-color-redOrange-shade) !important;
    --ion-color-tint: var(--ion-color-redOrange-tint) !important;
}

.ion-color-orange {
    --ion-color-base: var(--ion-color-orange) !important;
    --ion-color-base-rgb: var(--ion-color-orange-rgb) !important;
    --ion-color-contrast: var(--ion-color-orange-contrast) !important;
    --ion-color-contrast-rgb: var(--ion-color-orange-contrast-rgb) !important;
    --ion-color-shade: var(--ion-color-orange-shade) !important;
    --ion-color-tint: var(--ion-color-orange-tint) !important;
}

.ion-color-blueGreen {
    --ion-color-base: var(--ion-color-blueGreen) !important;
    --ion-color-base-rgb: var(--ion-color-blueGreen-rgb) !important;
    --ion-color-contrast: var(--ion-color-blueGreen-contrast) !important;
    --ion-color-contrast-rgb: var(--ion-color-blueGreen-contrast-rgb) !important;
    --ion-color-shade: var(--ion-color-blueGreen-shade) !important;
    --ion-color-tint: var(--ion-color-blueGreen-tint) !important;
}

.ion-color-pearl {
    --ion-color-base: var(--ion-color-pearl) !important;
    --ion-color-base-rgb: var(--ion-color-pearl-rgb) !important;
    --ion-color-contrast: var(--ion-color-pearl-contrast) !important;
    --ion-color-contrast-rgb: var(--ion-color-pearl-contrast-rgb) !important;
    --ion-color-shade: var(--ion-color-pearl-shade) !important;
    --ion-color-tint: var(--ion-color-pearl-tint) !important;
}

.ion-color-violetBlue {
    --ion-color-base: var(--ion-color-violetBlue) !important;
    --ion-color-base-rgb: var(--ion-color-violetBlue-rgb) !important;
    --ion-color-contrast: var(--ion-color-violetBlue-contrast) !important;
    --ion-color-contrast-rgb: var(--ion-color-violetBlue-contrast-rgb) !important;
    --ion-color-shade: var(--ion-color-violetBlue-shade) !important;
    --ion-color-tint: var(--ion-color-violetBlue-tint) !important;
}