<ion-grid fixed>

    <div class="contenedor-cards">
        <ion-row class="padre">
            <ion-col size="9">
                <app-tu-billetera></app-tu-billetera>
            </ion-col>
        </ion-row>

        <ion-row class="padre">
            <ion-col size="6">
                <app-card-gastado></app-card-gastado>
            </ion-col>

            <ion-col size="6">
                <app-card-sueldo></app-card-sueldo>
            </ion-col>
        </ion-row>
    </div>

</ion-grid>