<ion-content class="fondo2">

    <form [formGroup]="formularioGasto" (ngSubmit)="guardarGasto()" class="ion-padding">

        <ion-card class="bordes-redondos sombras">

            <ion-card-header>

                <ion-card-title>

                    <ion-header no-border class="ion-no-padding">
                        <ion-toolbar>
                            <ion-buttons slot="start">
                                <ion-back-button color="rosa" defaultHref="gastos"></ion-back-button>
                            </ion-buttons>
                            <ion-text color="rosa">
                                <div class="ion-text-left header-formularios">
                                    Editar Gasto
                                </div>
                            </ion-text>
                        </ion-toolbar>
                    </ion-header>

                </ion-card-title>
            </ion-card-header>

            <ion-card-content>

                <!-- Input Nombre -->

                <ion-item class="ion-margin-top">
                    <ion-label position="fixed">
                        <ion-text color="black">
                            Descripcion
                        </ion-text>
                    </ion-label>
                    <ion-input color="rosa" debounce="700" type="text" minlength="2" maxlength="30" formControlName="descripcion" required></ion-input>
                </ion-item>

                <!-- Input Monto -->

                <ion-item class="ion-margin-top">
                    <ion-label position="fixed">
                        <ion-text>
                            Monto($)
                        </ion-text>
                    </ion-label>
                    <ion-input color="rosa" debounce="700" type="number" minlength="2" maxlength="10" formControlName="monto" required></ion-input>
                </ion-item>

                <!-- Input Tipo de Gasto -->

                <ion-segment color="rosa" class="ion-margin-top" formControlName="tipo">
                    <ion-segment-button value="Pasivo">
                        <ion-label class="texto-segment" color="rosa">Pasivo</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="Activo">
                        <ion-label class="texto-segment" color="rosa">Activo</ion-label>
                    </ion-segment-button>
                </ion-segment>


                <!-- Seleccionar Icono -->
                <div class="contenedor-boton ion-margin-top">
                    <ion-button expand="block" size="outline" fill="clear" color="rosa" (click)="abrirModalIcons()">
                        Elegir Icono
                    </ion-button>
                </div>

                <!-- Icono que eligio la persona -->
                <div class="contenedor-icono ion-padding" *ngIf="icono.existe">
                    <img class="icono-selecionado" [src]="icono.path">
                </div>

                <!-- Boton para crear Gasto -->
                <div class="contenedor-boton ion-margin-top">
                    <ion-button type="submit" size="large" color="rosa" [disabled]="formularioGasto.invalid || icono.existe === false" (click)="goBack()">
                        <ion-text color="light">
                            Guardar Gasto
                        </ion-text>
                        <img class="icono-boton" src="/assets/icons/checked.svg">
                    </ion-button>
                </div>

            </ion-card-content>


        </ion-card>

    </form>


</ion-content>