/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */


/* Core CSS required for Ionic components to work properly */

@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */

@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
//  Google Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&display=swap');
//
html {
    font-size: 62.5%;
}

ion-searchbar {
    .searchbar-input-container {
        .searchbar-input {
            border-radius: 2rem !important;
        }
    }
    margin-left: 2rem;
    width: 70%;
}

// Utilidades Globales 
.texto-bold {
    font-weight: bold;
}

.centrar-texto {
    text-align: center;
}

.bordes-redondos {
    border-radius: 1.8rem;
}

.sombras {
    box-shadow: 1px 29px 35px -13px rgba(0, 0, 0, 0.57);
}

.fondo1 {
    --background: url(../src/assets/Fondos/Fondo_1.png) 0 0/100% 100% no-repeat;
}

.fondo2 {
    --background: url(../src/assets/Fondos/Fondo_2.png) 0 0/100% 100% no-repeat;
}

.header-formularios {
    font-size: 3rem;
    font-weight: bold;
}

///////////////////////////////
.icono-fab {
    width: 3rem;
    height: 3rem;
}