<form [formGroup]="formularioGasto" (ngSubmit)="crearGasto()" padding>

    <ion-card color="orange">

        <ion-card-content>

            <!-- Icono que eligio la persona -->
            <div class="contenedor-icono ion-padding" *ngIf="icono.existe">
                <img class="icono-selecionado" [src]="icono.path">
            </div>

            <!-- Input Nombre -->

            <ion-item class="ion-margin-top" color="orange">
                <ion-label color="aqua" position="floating">Descripcion</ion-label>
                <ion-input color="aqua" debounce="700" type="text" minlength="2" maxlength="30" formControlName="descripcion" required></ion-input>
            </ion-item>

            <!-- Input Monto -->

            <ion-item class="ion-margin-top" color="orange">
                <ion-label color="aqua" position="floating">Monto($)</ion-label>
                <ion-input color="aqua" debounce="700" type="number" minlength="2" maxlength="10" formControlName="monto" required></ion-input>
            </ion-item>

            <!-- Input Tipo de Gasto -->

            <ion-segment color="aqua" class="ion-margin-top" formControlName="tipo">
                <ion-segment-button value="Pasivo">
                    <ion-label>Pasivo</ion-label>
                </ion-segment-button>
                <ion-segment-button value="Activo">
                    <ion-label>Activo</ion-label>
                </ion-segment-button>
            </ion-segment>


            <!-- Seleccionar Icono -->
            <div class="contenedor-boton ion-margin-top">
                <ion-button expand="block" size="outline" fill="clear" color="aqua" (click)="abrirModal()">
                    Elegir Icono
                </ion-button>
            </div>

            <!-- Boton para crear Gasto -->
            <div class="contenedor-boton ion-margin-top">
                <ion-button type="submit" size="large" color="aqua" [disabled]="formularioGasto.invalid" (click)="goBack()">
                    <ion-text color="pearl">
                        Crear Gasto
                    </ion-text>
                    <img class="icono" src="/assets/icons/checked.svg">
                </ion-button>
            </div>

        </ion-card-content>


    </ion-card>

</form>